{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fayl Uzatish | Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
  <!--ring div starts here-->
<div class="ring">
  <i style="--clr:#00ff0a;"></i>
  <i style="--clr:#ff0057;"></i>
  <i style="--clr:#fffd44;"></i>
  <form class="login" method="post"  action="{% url 'login' %}">
    <h2>EESAM Filiali</h2>
    <div class="inputBx">
      <input type="text" name="username" placeholder="Foydalanuvchi">
      {{ form.username.errors }}
    </div>
    <div class="inputBx">
      <input type="password" name="password" placeholder="Parol" required>
      {{ form.password.errors }}
    </div>
    
    <div class="inputBx">
      <input type="submit" value="Kirish">
    </div>
  </form>
</div>
<!--ring div ends here-->
</body>
</html>