<!-- file_upload/templates/upload_file.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fayl Uzatish</title>
    <!-- Bootstrap CSS CDN -->
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
</head>
<body>
    <div class="container mt-5">
        <a href="{% url 'all_uploaded_files' %}" class="btn btn-secondary mb-2"><i class="fas fa-arrow-circle-left"></i> Ortga</a> <!-- Link to all uploaded files page -->
        <h2>Fayl Yuklash</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Yuklash</button>
        </form>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        function toggleUsers(checkbox) {
            var usersCheckbox = document.querySelectorAll('input[name="allowed_users"]');
            for (var i = 0; i < usersCheckbox.length; i++) {
                usersCheckbox[i].checked = checkbox.checked;
            }
        }
    </script>
</body>
</html>
